doctype html
html
	head
		title Super Node Cal
		link(href="./lib/bootstrap/dist/css/bootstrap.min.css", rel="stylesheet")
		link(href="./lib/font-awesome/css/font-awesome.min.css", rel="stylesheet")
		link(href='/stylesheets/animate.css', rel='stylesheet')
		link(href='/stylesheets/main.css', rel='stylesheet')
	body
		block content