extends ./header.jade

block content
	h1#logo Node Cal
	.container-fluid
		.row#intro
			.col-md-12
				i.fa.fa-calendar.animated.fadeInDown
			.col-md-12
				h2.thin A calendar generating application that mimics the UNIX cal terminal program
				h3.medium Take a test drive!
			.col-md-12
				span.glyphicon.glyphicon-hand-down.animated.infinite.pulse
		.row#preGen
			.col-md-4
			.col-md-4
				button.btn.btn-primary.animated.bounce(data-toggle="modal" data-target="#demoModal") Demo
		.row
			.col-md-12
				#generationOutput

	#demoModal.modal.fade(role="dialog")
		.modal-dialog
			.modal-content
				.modal-body
					label(for="yearInput") Enter Year (Required)
					br
					label(for="yearInput") (Accepts any year in range: 1753-9999)
					input#yearInput.form-control(placeholder="Year" name="yearInput" required="true")
					label(for="monthInput") Enter Month (optional)
					br
					label(for="monthInput") (Where January = 1, Feburary = 2, etc)
					input#monthInput.form-control(placeholder="Month" name="monthInput")
				.modal-footer
					button#getGeneration.btn.btn-primary(data-dismiss="modal") Generate
	script(src="./lib/jquery/dist/jquery.min.js")
	script(src="./lib/bootstrap/dist/js/bootstrap.min.js")
	script(src="./javascripts/main.js")